a{
	font-size: 60px;
	text-decoration: none;
	color: black;
	position: relative;
	left: 20px;
	top: -25px;
}
ul{
	text-align: center;
	font-size: 35px;
	list-style-type: none;
}
li{
	display: inline-block;
}
#more1{
	display: list-item;
}
